bin
obj
csx
.vs
edge
Publish
.DS_Store

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/artefacts
/dist
/node_modules
/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
local.settings.json